//- index.pug
doctype html
html
  head
    title Raghav Dance Academy
    block scripts
    block style
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/logo.png")
                | HDA
            li #[a(href ="/") Home] 
            li #[a(href ="/") About]
            li #[a(href ="/") Services]
            li #[a(href ="/") Class info]
            li #[a(href ="/contact") Contact us]
    block content
    footer#footer 
        | Copyright &copy 2023 RaghavDanceAcademy.com | All rights reserved.